DATABASE_PATH=data/planner.db
# Set to 'true' to allow users to upload screenshots of their backpack
ENABLE_SCREENSHOT_UPLOAD=false

# Security
SECRET_KEY=generate-a-long-random-string-here
EXTERNAL_API_SECRET=mN4!pQs6JrYwV9
